// Config -----------------------------------
@syntax-hue:          231;
@syntax-saturation:   14%;
@syntax-brightness:   18%;

// Colors
@very-dark-gray:  hsl(@syntax-hue, @syntax-saturation, @syntax-brightness); // Background
@dark-gray:       #44475a; // Current Line & Selection
@gray:            #666666;
@light-gray:      #999999;
@very-light-gray: hsl(@syntax-hue, 24%, 82%); // Foregoround
@blue:            hsl(225, 34%, 56%); // Comment
@cyan:            hsl(190, 66%, 55%);
@soft-cyan:       #66d9ef;
@green:           hsl(135, 85%, 68%);
@orange:          hsl( 39, 74%, 68%);
@pink:            hsl(325, 72%, 73%);
@purple:          hsl(264, 89%, 77%);
@red:             #ff5555;
@yellow:          hsl( 64, 52%, 66%);
@dark-yellow:     #E6DB74;
@sandstone:       #cfcfc2;

@lace:            #f8f8f0;
@white:           #ffffff;
@black:           #000000;
